asgiref==3.11.1
Brotli==1.1.0
cffi==1.17.1
cssselect2==0.8.0
dj-database-url==3.1.2
Django==5.2.13
fonttools==4.58.4
git-filter-repo==2.47.0
gunicorn==25.3.0
packaging==26.1
pdfkit==1.0.0
pillow==11.3.0
psycopg2-binary==2.9.11
pycparser==2.22
pydyf==0.11.0
pyphen==0.17.2
sqlparse==0.4.3
tinycss2==1.4.0
tinyhtml5==2.0.0
typing_extensions==4.15.0
tzdata==2022.4
weasyprint==65.1
webencodings==0.5.1
whitenoise==6.12.0
zopfli==0.2.3.post1
